@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Inter:wght@200&family=Sono:wght@300;500&display=swap'); 


:root {
  font-family: "Fira Code";
}
html {
  scroll-behavior: smooth;
}
span {
  color: #3d997d;
}

#projects {
  background-color: #DFF0D8;
  
  background-image:  radial-gradient(#090F07 1.75px, transparent 1.75px), radial-gradient(#090F07 1.75px, #DFF0D8 1.75px);
  background-size: 70px 70px;
  background-position: 0 0,35px 35px;
}

.project-sort-button {
  border: #3d997d 2px solid;
  background-color: #3d997d;
  color: white;
  
  border-radius: 9999px;
  padding: 0.75rem 1.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.project-sort-button:active {
  transform: translateX(1rem);
}

